DEBUG=true

# POSTGRES
PGHOST=ep-cold-cell-a9vhgfhfjfv5e-pohfghfoler.gwc.azure.neon.tech
PGDATABASE=nehghfondb
PGUSER=neonfhfghdb_owner
PGPASSWORD=npg_UhfghfDT1hfgh8JeQhfghcbtH
PGPORT=5432

SENTRY_DNS=https://524a86a4eckjkjhjjjjhkhjhjebf75d6c@o4509989888998898908096.ingest.de.sentry.io/450998778878584976

# BetterStack
BETTER_STACK_TOKEN=fe1FoqPzkjjhhjvvpHAybpAaqPAzq1
BETTER_STACK_URL=https://s1509009800.eu-nbg-2.betterstackdata.com

# JWT
JWT_SECRET=jkgjkhjdfhvdfhjhdjfvbhjdfbfb98fg8b9fg98b89gf8b9fg87n7fgn
JWT_ALGORITHM=HS256
ACCESS_TOKEN_TIME_MINUTES=5
REFRESH_TOKEN_TIME_MINUTES=60
